* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.box {
    position: relative;
    width: 300px;
    padding: 24px;
    background-color: #2d3436;
    color: #FFF;
}

h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 30px;
    padding-top: 24px;
    /* 首行缩进两个字符 */
    text-indent: 2em;
}

.box::before,
.box::after {
    position: absolute;
    content: "";
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    /* background-color: #FFF; */
    /* 渐变背景 */
    background: linear-gradient(to top right, #B92B27, #2d3436, #1565c0);
    z-index: -1;
}

.box::after {
    filter: blur(20px);
}